<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Schneedetektion.ImagePlayGround.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Schneedetektion.ImagePlayGround.Properties.Settings>
            <setting name="WorkingFolder" serializeAs="String">
                <value>C:\Users\uzapy\Desktop\astra</value>
            </setting>
            <setting name="BurstFolder" serializeAs="String">
                <value>C:\Users\uzapy\Desktop\astra\burst</value>
            </setting>
            <setting name="PresentationFolder" serializeAs="String">
                <value>C:\Users\uzapy\Desktop\astra\presentation</value>
            </setting>
        </Schneedetektion.ImagePlayGround.Properties.Settings>
    </userSettings>
</configuration>