*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Schneedetektion/Schneedetektion.Data/bin/Debug
/Schneedetektion/Schneedetektion.Data/obj/Debug
/Schneedetektion/Schneedetektion.GatherData/bin/Debug
/Schneedetektion/Schneedetektion.GatherData/obj/Debug
/Schneedetektion/Schneedetektion.ImagePlayGround/bin/Debug
/Schneedetektion/Schneedetektion.ImagePlayGround/obj/Debug
/Schneedetektion/Schneedetektion.ImageMove/bin/Debug
/Schneedetektion/Schneedetektion.ImageMove/obj/Debug
/Schneedetektion/Schneedetektion.OpenCV/bin/Debug
/Schneedetektion/Schneedetektion.OpenCV/obj/Debug
*.suo
*.user
/Schneedetektion/.vs/config
/Schneedetektion/packages
/Meta
